<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zs.com.remoteservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 定义aidl 服务-->
        <service android:name=".service.RemoteService">
            <intent-filter>
                <action android:name="zs.com.remote"></action>
            </intent-filter>
        </service>
        
        <service android:name=".service.BinderFactoryService">
            <intent-filter>
                <action android:name="zs.com.factory"/>
            </intent-filter>
        </service>
    </application>

</manifest>